<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letgo Clone API Backend</title>
    <style>
h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  background: #ff3f55;
  color: white;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
  color: white;
  text-decoration: none;
}

.btn-bgstroke:hover {
  background-color: white;
  color:#ff3f55;
}

    </style>
</head>
<body>
    <section class="header">
        <h1>Letgo Clone API Backend</h1>
        <p>Development by Fırat YILDIZ</p>
        <a href="https://github.com/FRTYZ" target="_blank" class="btn-bgstroke">Github</a>
    </section>
</body>
</html>